#logo-far{
    width: 100px;
}
#titulo{
    display: inline;
    padding-left: 45%;

}

#averias{
    text-align: center;
}

th,td{
    text-align: center;
}

#preseg{
    text-align: center;
}

#signature-canvas-derecho{
    border: 1px dashed red;
    width: 273px;
    height: 125px;
    background-image: url(../img/derecho.jpg) ;
}

#signature-derecho{
    width: 273px;
    height: 125px;
}