#logo-far{
    width: 100px;
}
#titulo{
    display: inline;
    padding-left: 45%;

}

#motivo-inspec{
    display: inline-block;
    
}

#averias{
    text-align: center;
}

th,td{
    text-align: center;
}

#preseg,#parabrisas-visto-int{
    text-align: center;
}

#signature-canvas-derecho{
    border: 1px dashed red;
    width: 273px;
    height: 125px;
    cursor: crosshair;
    background-image: url(../img/derecho.jpg) ;
}

#signature-canvas-izquierdo{
    border: 1px dashed red;
    width: 273px;
    height: 125px;
    margin-top: 60px;
    cursor: crosshair;
    background-image: url(../img/izquierdo.jpg) ;
}

#signature-canvas-frontal{
    border: 1px dashed red;
    width: 175px;
    height: 125px;
    margin-top: 60px;
    cursor: crosshair;
    background-image: url(../img/frontal.jpg) ;
}

#signature-canvas-posterior{
    border: 1px dashed red;
    width: 175px;
    height: 125px;
    cursor: crosshair;
    background-image: url(../img/posterior.jpg) ;
}

#signature-canvas-techo{
    border: 1px dashed red;
    width: 131px;
    height: 264px;
    cursor: crosshair;
    background-image: url(../img/techo.jpg) ;
}

#signature-canvas-parabrisas{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    cursor: crosshair;
    background-color: white ;
}

#signature-canvas-firma{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    cursor: crosshair;
    background-color: white ;
}

#firma-canvas{
    width: 500px;
    height: 250px;
    display: inline-block;
    margin-right: 150px;
    vertical-align: top;
}


#costado{
    width: 274px;
    height: 400px;
    display: inline-block;
    margin-right: 80px;
    margin-left: 60px;
}

#techo{
    width: 131px;
    height: 400px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 180px;
    margin-right: 150px;
    vertical-align: top;
}

#parabrisas-canvas{
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 150px;
    vertical-align: top;
}

#acompañante{
    margin-left: 290px;
}

#frente{
    width: 180px;
    height: 400px;
    margin-left: 150px;
    margin-right: 80px;
    display: inline-block;
    vertical-align: top;
}


#deleted-button{
    border-radius: 50% !important;
}

.undo-button{
    border-radius: 50% !important;
    margin-bottom: 5px;
}

#imagenes-draw{
    margin-top: 10px;

}

#h1-inspec {
    text-align: center;

}

#check-success{
    text-align: center;
    font-size: 70px;
    color: green;
    margin-top: 15%;
    margin-bottom: 15px;

}

#parabrisas-problemas{
    margin-left: 30%;
}

.name-col{
    vertical-align: middle;
    background-color: rgb(177, 177, 177) !important;
}

.colum-segu{
    text-align: left;
    padding-right: 0px !important ;
}
